@import "../../assets/styles/styles";
$squareWidth: 10vw;
$squareHeight: 10vh;

.container {
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap !important;
  margin: 5% 0;
  width: 50vw;
  align-items: center;
  align-self: center;
}

.column {
  display: flex;
  flex-direction: row;
  margin: .8% 0;
}

.number {
  display: flex;
  flex-direction: row;
  width: $squareWidth;
  height: $squareHeight;
  align-items: center;
  justify-content: center;
  margin: 0 .8%;
  text-align: center !important;
  background-color: $SECONDARY !important;
  color: #f7f7f7;
}

.number:hover {
  color: #fff;
  background-color: $SECONDARYHOVER !important;
}
