@import "../../assets/styles/styles";

.container {
  display: grid;
  width: 50vw;
  place-self: center;
  place-items: center;
  margin: 10% 0;
  font-size: 21px !important;
}

.result {
  color: $SECONDARY;
}
